nz-layout{
    height: 100%;
}

nz-sider{
    height: 100%;
}

.sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
  }

.pad-0{
    padding: 0;
}