<nz-layout>
  <nz-header *ngIf="isHorizontal" style="height: auto; padding: 0; line-height: 40px;">
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzSelected nzMatchRouter [routerLink]="['/home']">Home</li>
      <li style="padding-left: 0;" nz-menu-item nzMatchRouter [routerLink]="['/donation']">Donation</li>
      <li style="padding-left: 0;" nz-menu-item nzMatchRouter [routerLink]="['/crisis']">Crisis</li>
      <li style="padding-left: 0;" nz-menu-item nzMatchRouter [routerLink]="['/volunteer']">Volunteer</li>
      <li style="padding-left: 0;" nz-menu-item nzMatchRouter [routerLink]="['/inventory']">Inventory</li>
      <li style="padding-left: 0;" nz-menu-item nzMatchRouter [routerLink]="['/admin']">Admin</li>
    </ul>
  </nz-header>
  <nz-sider *ngIf="!isHorizontal" nzTheme="light">
    <ul nz-menu>
      <li nz-menu-item nzSelected nzMatchRouter [routerLink]="['/home']">Home</li>
      <li nz-menu-item nzMatchRouter [routerLink]="['/donation']">Donation</li>
      <li nz-menu-item nzMatchRouter [routerLink]="['/crisis']">Crisis</li>
      <li nz-menu-item nzMatchRouter [routerLink]="['/volunteer']">Volunteer</li>
      <li nz-menu-item nzMatchRouter [routerLink]="['/inventory']">Inventory</li>
      <li nz-menu-item nzMatchRouter [routerLink]="['/admin']">Admin</li>
    </ul>

    <div style="position: absolute; bottom: 0; padding-left: 10px; padding-bottom: 5px; width: 100%;">
      <button nz-button nzType="primary" style="margin: auto;" [routerLink]="['/login']">Log in</button>
    </div>
  </nz-sider>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>

</nz-layout>
