nz-layout{
    height: 100%;
}

nz-sider{
    background-color: antiquewhite;
}
.sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
  }