
  <nz-list nzItemLayout="horizontal" [nzLoading]="isDataLoading">
      @for (item of data; track item) {
        <nz-list-item>
          <nz-list-item-meta >
              <nz-list-item-meta-description>
                  <section>User id : {{item.id}}</section>
                  <strong>phone : {{item.phone}}</strong><br>
              </nz-list-item-meta-description>
              <nz-list-item-meta-title>
                  {{item.name}}
              </nz-list-item-meta-title>
          </nz-list-item-meta>
          <ul nz-list-item-actions>
            <nz-list-item-action *ngIf="item.assigned_crisises && item.assigned_crisises.toString().trim().length > 0">
              <a (click)="viewCrisises(item)">View assigned crisises</a>
            </nz-list-item-action>
            <nz-list-item-action *ngIf="!item.is_verified">
              <a (click)="verifyUser(item)">Verify</a>
            </nz-list-item-action>
        </ul>
        </nz-list-item>
      }
      @if (data.length === 0) {
        <nz-list-empty />
      }
  </nz-list>
  
  <nz-modal [nzVisible]="isVolunteersModalOpen" [nzTitle]="'Crisis assigned to ' + clickedItem?.name" (nzOnCancel)="isVolunteersModalOpen = false" nzClosable="true" [nzFooter]="null">
    <ng-container *nzModalContent>
      <nz-list nzItemLayout="horizontal" [nzLoading]="isVolunteerDetailsLoading">
        @for (item of assignedVolunteersData; track item) {
          <nz-list-item 
            [class.resolved-bg]="item.status === 'resolved'" 
            [class.critical-bg]="item.severity === 'critical' && item.status !== 'resolved'"
            style="padding-left: 10px;">
            <nz-list-item-meta >
                <nz-list-item-meta-description>
                    <section><strong>Incident : </strong>{{item.incident}}</section>
                    <strong>Status : </strong> {{item.status}}
                    <br>
                    <strong>Severity : </strong> {{item.severity}}
                </nz-list-item-meta-description>
                <nz-list-item-meta-title>
                        {{item.location}}
                </nz-list-item-meta-title>
            </nz-list-item-meta>
          </nz-list-item>
        }
    </nz-list>
    </ng-container>
  </nz-modal>